In [1]:
import praw
import pandas as pd
import pickle

In [76]:
import time

#### Set up Reddit instance to obtain submission author (OP) information

In [114]:
rdt = praw.Reddit(client_id='aPstiOPQCmoSpQ', \
                     client_secret='24dCnyWIOT8PsgyvdbcBmQvVYR4', \
                     user_agent='a_sample_app', \
                     username='an_internet_guy', \
                     password='MyS-xPU-SLQ-9uW')

#### Get all submissions (from pickle object) and create list of OPs

In [115]:
with open('new_reddit_topics.pkl', 'rb') as pick:
    subs = pickle.load(pick)

In [183]:
users = subs['author']

#### Get the karma score and time of account time creation (input as age at this stage) for each OP and combine into a dataframe

In [184]:
usr_karma = []
usr_age = []
for n in range(len(users)):
    if users[n] is not None:
        usr_karma.append(users[n].comment_karma)
        usr_age.append(users[n].created_utc)
    else:
        usr_karma.append(0)
        usr_age.append(time.time())

In [185]:
op_attr = pd.DataFrame({'op_karma': usr_karma, 'op_age': usr_age})

In [186]:
op_attr.head()

         op_age  op_karma
0  1.526510e+09         3
1  1.471713e+09      7753
2  1.460076e+09      3240
3  1.511986e+09        15
4  1.376677e+09        44

#### Function that actually calculates the OP age (in utc format), then apply to dataframe of OP attributes

In [187]:
import datetime as dt
def get_age(created):
    return (dt.datetime.now() - dt.datetime.fromtimestamp(created)).total_seconds()

In [188]:
op_attr['op_age'] = op_attr['op_age'].apply(get_age)

In [189]:
op_attr.head()

         op_age  op_karma
0  1.353817e+06         3
1  5.615017e+07      7753
2  6.778777e+07      3240
3  1.588138e+07        15
4  1.511866e+08        44

In [224]:
op_attr.shape

(988, 2)

#### Save this dataframe for later use

In [225]:
with open('op_attr.pkl', 'wb') as pick:
    pickle.dump(op_attr, pick)